<%= form_tag :session, { method: :post, class: "pure-form pure-form-stacked" } do %>
  <%= label_tag :nickanme, "ニックネーム" %>
  <%= text_field_tag :nickname, '', placeholder: "ニックネーム", required: true %>
  <%= label_tag :password, "パスワード" %>
  <%= password_field_tag :password, '', placeholder: "パスワード", required: true %>
  <label for="remember" class="pure-checkbox">
    <%= check_box_tag :remember, true, false %> 次回から自動でログイン
  </label>
  <%= submit_tag "ログイン", type: 'submit', class: 'pure-button pure-button-primary' %>
<% end %>
