<h2><%= "#{current_user.nickname}さんようこそ" %></h2>
<%= image_tag("/images/user_icons/user#{current_user.icon_number}.png") %>
<%= link_to "アイコンを変更", [ :edit_icon, current_user ], type: 'button', class: 'pure-button' %>
<br>
<small>
最終ログイン日時: <%= current_user.lastlogin.strftime('%Y/%m/%d %H:%M:%S') if current_user.lastlogin? %>
</small>

<table class="pure-table">
  <thead>
    <tr>
      <th>フォロー</th>
      <th>フォロワー</th>
    </tr>
  </thead>
  <tr>
    <td><%= link_to @friends.size, [ :friends, current_user ] %></td>
    <td><%= link_to @followers.size, [ :followers, current_user ] %></td>
  </tr>
</table>
