<div class="row">
<div class="col-xs-3 well">
  <%= form_for @user, method: :post do |f| %>
    <%= f.label :nickname, "ニックネーム" %>
    <%= f.text_field :nickname, class: "form-control" %>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: "form-control" %>
    <%= f.label :password_confirmation, "パスワード(再入力)" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    <br>
    <%= f.submit "登録", type: 'submit', class: 'btn btn-default' %>
  <% end %>
</div>
</div>
※登録済みの方はログインページより、ログインしてください。
