<p>
<%= @user.nickname %>
</p>
<%= image_tag("/images/user_icons/user#{@user.icon_number}.png") %>
<p>
<% if current_user.friend?(@user) %>
  <%= link_to "フォロー解除", [ @user, @friendship ], method: :delete, type: 'button', class: 'pure-button' %>
<% else %>
  <%= link_to "フォローする", [ @user, :friendships ], method: :post, type: 'button', class: 'pure-button pure-button-primary' %>
<% end %>
</p>

<table class="pure-table">
  <thead>
    <tr>
      <th>フォロー</th>
      <th>フォロワー</th>
    </tr>
  </thead>
  <tr>
    <td><%= link_to @friends.size, [ :friends, @user ], class: "BaseLink" %></td>
    <td><%= link_to @followers.size, [ :followers, @user ], class: "BaseLink" %></td>
  </tr>
</table>
