<%= link_to "スレッド一覧へ", :boards %>
<h2><%= @board.title %></h2>
<small><%= "#{@board.created_at.strftime('%Y/%m/%d %H:%M')} 作成" %></small>

<ul class="ResponseList">
  <% @responses.each.with_index(1) do |res, i| %>
    <% if res.persisted? %>
      <li style="list-style:none">
        <%= i %> <%= res.name %> <%= fa_icon "pencil" %> <%= res.created_at.strftime('%Y/%m/%d %H:%M') %>
        <h4 style="color:#3d4eb7">
          <%= hbr res.comment %>
        </h4>
      </li>
    <% end %>
  <% end %>
</ul>

<%= form_for [ @board, @response ], html: { class: 'pure-form pure-form-stacked', role: 'form' }, remote: true do |f| %>
  <%= fa_icon "reply" %> <%= f.label :comment, "レスを書く" %>
  <%= f.text_area :comment, placeholder: "コメント", required: true, rows: 4, cols: 50 %>
  <br>
  <%= f.submit "作成", type: 'submit', class: 'pure-button pure-button-primary' %>
<% end %>
