<h3><%= @board.title %></h3>
<ul class="ResponseList">
  <% @responses.each do |res| %>
    <% if res.persisted? %>
      <li>
        <%= res.name %>
        <%= res.comment %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= form_for [ @board, @response ], html: { class: 'pure-form pure-form-stacked', role: 'form' }, remote: true do |f| %>
  <%= f.label :comment, "レスを書く" %>
  <%= f.text_area :comment, placeholder: "コメント", required: true  %>
  <br>
  <%= f.submit "作成", type: 'submit', class: 'pure-button pure-button-primary' %>
<% end %>
