<h1>Roomとは</h1>
Roomに入ることで他の人とライブストリーミングを共有できます。
自分でRoomを作成したい場合はユーザー登録が必要です。
<%= link_to "Roomを作成する", :new_room %>
<br>
<br>
<% if current_user && current_user.active_room? %>
  <%= link_to "Roomへ戻る", room_path(url_token: current_user.active_room.url_token), class: 'btn btn-info' %>
<% end %>

<br>
<br>
<br>
<table class="pure-table pure-table-striped">
  <% if @rooms.present? %>
    <thead>
      <tr>
        <th>
          Room名
        </th>
        <th>
          入室人数 / 人数制限
        </th>
        <th></th>
      </tr>
    </thead>
      <% @rooms.each do |room| %>
        <tr>
          <td>
            <%= room.name %>
          </td>
          <td>
            <%= "#{room.active_number} / #{room.number}" %>
          </td>
          <td>
            <% if room.full? %>
              <div style="color:red;">満員</div>
            <% else %>
              <% unless current_user && current_user.active_room? %>
                <%= link_to 'このRoomへ行く', room_path(url_token: room.url_token) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
  <% end %>
</table>
