<%= form_for @room, html: { class: 'pure-form pure-form-stacked', role: 'form' } do |f| %>
  <%= f.label :name, "Room名" %>
  <%= f.text_field :name, placeholder: "Room名", required: true  %>
  <%= f.label :number, "人数(2人以上)" %>
  <%= f.number_field :number, placeholder: "人数", required: true %>
  <label for="room_private" class="pure-checkbox">
    <%= f.check_box :private %> 鍵部屋
  </label>
  ※鍵部屋にチェックを入れるとRoom一覧から非表示にできます。
  共有したい方へはRoom名か、URLを教えてください。
  <br>
  <%= f.submit "作成", type: 'submit', class: 'pure-button pure-button-primary' %>
<% end %>
