<div class="broadcastsField box">
<% if listener? || @live %>
  <% @broadcasts.each do |broadcast| %>
    <iframe width="<%= broadcast.width %>px" height="<%= broadcast.height %>px" frameborder='0' src="<%= broadcast.player_url %>" id="<%= broadcast.id %>">
      <embed type="application/x&#45;shockwave&#45;flash" src="<%= broadcast.player_url %>" name="plugin" height="100%" width="100%"></embed>
    </iframe>
  <% end %>
  <% if @broadcasts.size == 1 && !listener? %>
    <%= render 'broadcast_form' %>
  <% end %>
<% else %>
  <%= render 'broadcast_form' %>
<% end %>
</div>
<div class="box">
  <div style="height:300px;width:400px;border: solid 1px;">
    <%= "Room名 #{@room.name}" %>
    <%= "制限人数 #{@room.active_number}/#{@room.number}人" %>
    <%= "オーナー #{@room.owner_name}" %>
    <%= image_tag("/images/user_icons/user#{@room.owner.icon_number}.png", size: "35x35") %>
    <% if current_user.owner?(@room) %>
      <div class="ownerBlock">
        <%= link_to 'このRoomを削除する', @room, method: :delete, data: { confirm: "この処理は元に戻せません。\n本当に削除しますか？" } %>
        <% if @live %>
          <% @broadcasts.each do |broadcast| %>
            <%= button_to "#{broadcast.id}ちゃんを消す", remove_broadcast_room_path(url_token: @room.url_token), { method: :patch, params: { id: "#{broadcast.id}" } } %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= link_to "退室", exit_room_room_path(url_token: @room.url_token), method: :delete, data: { confirm: "退室しますか？" } %>
    <% end %>
    <%= form_tag change_aspect_room_path(url_token: @room.url_token), { method: :patch, class: 'pure-form', id: "change_aspect_form", remote: true } do %>
      <%= select_tag(:aspect_ratio, options_for_select(["960x488", "840x427", "720x366", "600x305", "480x244", "360x183", "240x122"])) %>
    <% end %>
    <br>
    <% @room.room_users.each do |room_user| %>
      <%= image_tag("/images/user_icons/user#{room_user.user.icon_number}.png", size: "30x30") %>
    <% end %>
  </div>
  <div class="commentBox">
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  comments<br>
  </div>
</div>
