<div class="broadcastsField box">
<% if listener? || @live %>
  <% if @broadcasts.present? %>
    <% @broadcasts.each do |broadcast| %>
      <iframe width="960px" height="488px" frameborder='0' src="<%= broadcast.player_url %>" id="<%= broadcast.id %>">
        <embed type="application/x&#45;shockwave&#45;flash" src="<%= broadcast.player_url %>" name="plugin" height="100%" width="100%"></embed>
      </iframe>
    <% end %>
    <% if @broadcasts.size < 2 && !listener? %>
      <%= render 'broadcast_form' %>
    <% end %>
  <% end %>
<% else %>
  <%= render 'broadcast_form' %>
<% end %>
</div>

<div class="sidebar right CommentField">
  <div id="RoomInfoTrigger">▽ </div>
  <div class="RoomInfoField" id="RoomInfoField">
    <b><%= @room.name %></b>
    <small>
      :
      <%= "制限人数 #{@room.active_number}/#{@room.number}人" %>
      <%= "オーナー #{@room.owner_name}" %>
    </small>
    <br>
    <%= image_tag("/images/user_icons/user#{@room.owner.icon_number}.png", size: "35x35") %>

    <div class="BroadcastInfoBlock">
      <% if @live %>
        <% @broadcasts.each do |broadcast| %>
          <div class="CommunityThumbnail">
            <%= image_tag(Broadcast::URL[:community_thumbnail] + broadcast.get_community(@api)) %>
            <% if current_user.owner?(@room) %>
              <%= button_to "取り消し", remove_broadcast_room_path(url_token: @room.url_token), { class: 'RemoveButton InInfoField', id: "#{broadcast.id}", method: :patch, params: { id: "#{broadcast.id}" } } %>
            <% end %>
            <%= broadcast.get_base_time(@api) %>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if current_user.owner?(@room) %>
      <%= button_to 'Roomを削除する', @room, method: :delete, data: { confirm: "この処理は元に戻せません。\n本当に削除しますか？" }, class: 'pure-button InInfoField' %>
    <% else %>
      <%= button_to "退室", exit_room_room_path(url_token: @room.url_token), method: :delete, data: { confirm: "退室しますか？" }, class: 'pure-button InInfoField' %>
    <% end %>

    <br>
    <% if @room.room_users.present? %>
      <% @room.room_users.each do |room_user| %>
        <%= link_to image_tag("/images/user_icons/user#{room_user.user.icon_number}.png", size: "30x30"), user_path(id: room_user.user.id), class: "InInfoField UserLinkImage" %>
      <% end %>
    <% end %>

    <%= form_tag change_aspect_room_path(url_token: @room.url_token), { method: :patch, class: 'pure-form', id: "change_aspect_form", remote: true } do %>
      <%= select_tag(:aspect_ratio, options_for_select(["960x488", "840x427", "720x366", "600x305", "480x244", "450x229", "432x220", "360x183", "240x122"]), class: 'InInfoField') %>
    <% end %>
  </div>
  <%= react_component('CommentBox', {:presenter => @presenter.to_json, :pollInterval => 2000}) %>
</div>
