<!DOCTYPE html>
<html>
<head>
  <title>Nicomoni</title>
  <meta name="description" content="Nicomoniはライブストリーミングを共有するサービスです。二窓・多窓してチャットすることができます。"></meta>
  <meta property="og:title" content="Nicomoni"></meta>
  <meta property="og:type" content="website"></meta>
  <meta property="og:url" content="http://www.nicomoni.com"></meta>
  <meta property="og:description" content="Nicomoniはライブストリーミングを共有するサービスです。二窓・多窓してチャットすることができます。"></meta>
  <meta property="og:site_name" content="Nicomoni"></meta>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
</head>
<body>

<div id="layout">
    <%= flash_messages %>
    <%= render "shared/side_menu" %>
    <div style="margin: 15px 0 0 30px">
      <%= yield %>
    </div>
</div>

</body>
</html>
