<!DOCTYPE html>
<html>
<head>
  <title>Nicomoni</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="layout">

    <%= flash_messages %>
    <%= render "shared/side_menu" %>

    <div id="main">
        <div class="header">
            <h1>Nicomoni</h1>
            <h2>ライブストリーミングを共有するサービス</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">対応ブロードキャスティングサービス</h2>
            <h4>
              ニコニコ生放送 <%= link_to "http://www.nicovideo.jp/", "http://www.nicovideo.jp/" %>
            </h4>
            <p>他配信サイトも対応予定</p>
        </div>
    </div>

   <%= yield %>

</div>

</body>
</html>
